[submodule "gnulib"]
	path = gnulib
	url = https://github.com/coreutils/gnulib.git
[submodule "benchmark/bsysi_cut"]
	path = benchmark/bsysi_cut
	url = https://github.com/coreutils/coreutils.git
[submodule "benchmark/bsysi_wc"]
	path = benchmark/bsysi_wc
	url = https://github.com/coreutils/coreutils.git
[submodule "benchmark/bsysi_head"]
	path = benchmark/bsysi_head
	url = https://github.com/coreutils/coreutils.git
[submodule "benchmark/bsysi_ls"]
	path = benchmark/bsysi_ls
	url = https://github.com/coreutils/coreutils.git
[submodule "benchmark/bsysi_bzip2"]
	path = benchmark/bsysi_bzip2
	url = https://github.com/coreutils/coreutils.git
[submodule "benchmark/bsysi_sort"]
	path = benchmark/bsysi_sort
	url = https://github.com/coreutils/coreutils.git
[submodule "benchmark/bsysi_uniq"]
	path = benchmark/bsysi_uniq
	url = https://github.com/coreutils/coreutils.git
[submodule "benchmark/bsysi_mkdir"]
	path = benchmark/bsysi_mkdir
	url = https://github.com/coreutils/coreutils.git
[submodule "benchmark/bsysi_chown"]
	path = benchmark/bsysi_chown
	url = https://github.com/coreutils/coreutils.git
