[submodule "gnulib"]
	path = gnulib
	url = https://github.com/coreutils/gnulib.git
[submodule "benchmark/pdb_cut"]
	path = benchmark/pdb_cut
	url = https://github.com/coreutils/coreutils.git
[submodule "benchmark/pdb_wc"]
	path = benchmark/pdb_wc
	url = https://github.com/coreutils/coreutils.git
[submodule "benchmark/pdb_head"]
	path = benchmark/pdb_head
	url = https://github.com/coreutils/coreutils.git
[submodule "benchmark/pdb_ls"]
	path = benchmark/pdb_ls
	url = https://github.com/coreutils/coreutils.git
[submodule "benchmark/pdb_bzip2"]
	path = benchmark/pdb_bzip2
	url = https://github.com/coreutils/coreutils.git
[submodule "benchmark/pdb_sort"]
	path = benchmark/pdb_sort
	url = https://github.com/coreutils/coreutils.git
[submodule "benchmark/pdb_uniq"]
	path = benchmark/pdb_uniq
	url = https://github.com/coreutils/coreutils.git
[submodule "benchmark/pdb_mkdir"]
	path = benchmark/pdb_mkdir
	url = https://github.com/coreutils/coreutils.git
[submodule "benchmark/pdb_chown"]
	path = benchmark/pdb_chown
	url = https://github.com/coreutils/coreutils.git
