*.o

chisel-out
log.txt

benchmark/lib/*.a
*.origin
*.reduced

benchmark/bzip2-1.0.5/merged/bzip2-1.0.5.c
benchmark/chown-8.2/merged/chown-8.2.c
benchmark/date-8.21/merged/date-8.21.c
benchmark/grep-2.19/merged/grep-2.19.c
benchmark/gzip-1.2.4/merged/gzip-1.2.4.c
benchmark/mkdir-5.2.1/merged/mkdir-5.2.1.c
benchmark/rm-8.4/merged/rm-8.4.c
benchmark/sort-8.16/merged/sort-8.16.c
benchmark/tar-1.14/merged/tar-1.14.c
benchmark/uniq-8.16/merged/uniq-8.16.c
